.dashboard {
	position: relative;
	width: 100%;
	height: 100vh;
}

.addButton {
	position: absolute !important;
	bottom: 100px;
	right: 50px;
}

.title {
	margin: 0;
	padding: 20px !important;
	text-align: center;
}

.backBtn {
	color: #000;
	margin: 20px;
}
