body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(
		to right top,
		#0081cf,
		#0085c8,
		#0089bf,
		#008bb5,
		#008daa,
		#008ea3,
		#008f9c,
		#008f94,
		#008f8e,
		#008f88,
		#008f81,
		#008f7a
	);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
